.header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-content: center
  padding: 1rem
  border-bottom: 1px solid lightgray

  &__logo
    text-transform: uppercase
    font-size: 2rem

  &__nav
    display: flex
    align-items: center

    &__link
      font-size: 2rem
      font-weight: bold
      vertical-align: middle

      // &:not(:last-child)
      //   padding-right: 3em
