.note-list

  &__note
    display: flex
    align-items: center
    justify-content: space-between
    border-bottom: 1px dotted lightgray
    padding: 0.5rem 0

    &__title
      font-weight: bold

    &__delete
      font-weight: bold
      margin-left: 0.25rem
      background-color: transparent
      color: black
      padding: 0.25rem 0.5rem

      &:hover
        background-color: lightgray
