.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Calvin's CSS */

a,
a:hover,
a:active,
a:focus,
a:visited {
  color: #222;
  text-decoration: none;
  cursor: pointer;
}

h3 {
  margin: 0;
}

label {
  display: block;
}

.whiskey-card {
  margin: 0.5em;
  padding: 0.5em;
  border: solid 1px;
  width: 25%;
}

.whiskey-details {
  margin-left: 0.5em;
}
